footer {
  @include footer;
}
.white {
  color: #fff;
  font-family: Poppins;
}
.mar {
  margin-top: 10px;
  font-family: Poppins;
}
.veta {
  background: var(--2, linear-gradient(97deg, #f86cf8 12.04%, #64cef5 81.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -25px;
  font-family: Orbitron;
}

.about {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: Orbitron;
}

@media only screen and (max-width: 1200px) {  


  .img1 {
    width: 40%;
  }
  .vec {
    display: none;
  }
  .col {
    width: 100%;
    margin: 10px;
  }
  .alt {
    width: 100%;
  }
  .rec {
    width: 250px;
  }
  .rect {
    top: 100px;
    left: 130px;
  }
  .what,
  .what_2,
  .know {
    margin-left: 90px;
  }
 .what_2{
  margin-left: 60px;
 }
  .know{
    margin-top: 4px;
  }
  .group{
    width: 370px;
  }
  .vid2 {
    height: 85%;
  }
  .paus{
    margin-top: 50px;
  }
  .fashion{
    margin-left: 250px;
  }

  footer{
    flex-wrap: wrap;
    margin: 0;
    padding: 40px 10px 40px 10px;
   
     }
     .ven{
       font-size: 14px;
     }
}

@media only screen and (max-width: 600px) {
  footer {
    @include foo;
  }
}



