@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800;900&family=Poppins:wght@100;300;400;500;600;700&family=Public+Sans:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800;900&family=Public+Sans:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 50px;
  background-color: #090823;
}

.white {
  color: #fff;
  font-family: Poppins;
}

.veta {
  background: var(--2, linear-gradient(97deg, #f86cf8 12.04%, #64cef5 81.84%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -25px;
  font-family: Orbitron;
}

.about {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: Orbitron;
}

@media only screen and (max-width: 1000px) {
  .img1 {
    width: 40%;
  }
  .vec {
    display: none;
  }
  .col {
    width: 100%;
    margin: 10px;
  }
  .alt {
    width: 100%;
  }
  .know {
    margin-top: 4px;
  }
  .vid2 {
    height: 85%;
  }
  .paus {
    margin-top: 50px;
  }
  .fashion {
    margin-left: 250px;
  }
}
@media only screen and (max-width: 1200px) {
  .my {
    width: 400px;
  }
  .vec {
    display: none;
  }
  .lorem {
    margin-top: 0;
  }
  footer {
    flex-wrap: wrap;
    margin: 0;
    padding: 40px 10px 40px 10px;
  }
  .ven {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1000px) {
  .my {
    width: 262px;
  }
}
header {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit;
}

@keyframes fade-out {
  to {
    opacity: 0;
    scale: 3;
  }
}
h1 {
  color: #fff;
}

.metaV {
  font-family: Orbitron;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.link {
  text-decoration: none;
  margin-left: 20px;
  color: #fff;
  font-family: Poppins;
}

.first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
  font-family: Orbitron;
}

.explore {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

span {
  background: linear-gradient(97deg, #f86cf8 12.04%, #64cef5 81.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.metaverse {
  color: #fff;
  font-weight: 600;
  font-family: Orbitron;
  font-size: 13px;
  margin-top: 10px;
}

.vec {
  margin-top: -200px;
  margin-left: 100px;
}

.button_o {
  margin-top: 10px;
}

.butt1 {
  padding: 10px 20px 10px 20px;
  background: linear-gradient(97deg, #d10ed1 12.04%, #10a3da 81.84%);
  color: #fff;
  border-radius: 5px;
}

.butt2 {
  background-color: #000;
  padding: 10px 20px 10px 20px;
  border: 2px solid rgb(170, 3, 170);
  border-radius: 5px;
  color: #fff;
}

.followers {
  display: flex;
  gap: 50px;
  margin-top: 15px;
  color: #fff;
  position: relative;
  font-family: Orbitron;
}

.doings {
  font-size: 15px;
  font-weight: 600;
  font-family: Orbitron;
}

.likes {
  font-size: 20px;
  font-weight: bold;
  font-family: Orbitron;
}

.hamburger {
  cursor: pointer;
  position: relative;
  width: 35px;
  background: none;
  height: 35px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  height: 5px;
  background: linear-gradient(97deg, #d10ed1 12.04%, #10a3da 81.84%);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-10px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: inline-block;
  background: linear-gradient(97deg, #d10ed1 12.04%, #10a3da 81.84%);
  position: fixed;
  right: -50%;
  margin: 0 auto;
  width: 40%;
  height: 30vh;
  z-index: 1;
  border-radius: 10px;
}

.mobile-nav a {
  display: block;
  font-family: Orbitron;
  padding-top: 25px;
  margin-top: 5px;
  text-align: center;
  color: #000;
  font-size: 25px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.mobile-nav.is-active {
  left: 0;
  transition: 0.4s;
}

.mobile-nav a:hover {
  background-color: #fff;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .first {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .img1 {
    width: 72%;
    margin-top: 50px;
    margin-left: -30px;
  }
  .followers {
    margin-top: 100px;
  }
  nav {
    display: none;
  }
  .explore {
    font-size: 30px;
  }
  .rela {
    position: absolute;
    top: -499px;
    left: -20px;
    font-size: 25px;
  }
  .relat {
    position: absolute;
    top: -469px;
    left: -20px;
    font-size: 17px;
  }
  .rela_2 {
    position: absolute;
    top: -615px;
    left: 80px;
    font-size: 25px;
  }
  .relat_2 {
    position: absolute;
    top: -583px;
    left: 82px;
    font-size: 17px;
  }
  .rela_3 {
    position: absolute;
    top: -535px;
    left: 300px;
    font-size: 25px;
  }
  .relat_3 {
    position: absolute;
    top: -505px;
    left: 310px;
    font-size: 17px;
    margin-left: -10px;
  }
  .mobile-nav {
    height: 35vh;
  }
  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }
}
@media screen and (max-width: 400px) {
  .rela {
    position: "absolute";
    top: -470px;
    left: 10px;
    font-size: 18px;
  }
  .relat {
    position: "absolute";
    top: -449px;
    left: 10px;
    font-size: 11px;
  }
  .rela_2 {
    position: "absolute";
    top: -565px;
    left: 80px;
    font-size: 18px;
  }
  .relat_2 {
    position: a "absolute";
    top: -544px;
    left: 83px;
    font-size: 11px;
  }
  .rela_3 {
    position: "absolute";
    top: -515px;
    left: 280px;
    font-size: 18px;
    margin-left: 10px;
  }
  .relat_3 {
    position: "absolute";
    top: -495px;
    left: 287px;
    font-size: 11px;
    margin-left: 3px;
  }
  .mobile-nav {
    height: 25vh;
    width: 30%;
  }
  .mobile-nav a {
    padding-top: 10px;
    font-size: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #000;
}

.three {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 30px;
  margin-top: 4%;
}

.verse {
  font-size: 40px;
  font-family: Orbitron;
}

.verse_2 {
  font-size: 20px;
  color: #fff;
  font-family: Poppins;
}

.moret {
  font-family: Poppins;
  padding: 10px 20px 10px 20px;
  background: linear-gradient(97deg, #d10ed1 12.04%, #10a3da 81.84%);
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

.lorem {
  color: #fff;
  text-align: center;
  margin-top: 150px;
  font-size: 40px;
  font-family: Orbitron;
}

.lore {
  color: #fff;
  text-align: center;
  font-family: Poppins;
}

.sec_3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
  padding: 0;
  width: 100%;
  margin-top: 30px;
}

.butt1v {
  padding: 10px 35px 10px 35px;
  background: linear-gradient(97deg, #d10ed1 12.04%, #10a3da 81.84%);
  color: #fff;
  border-radius: 5px;
  border: none;
}

.butt_flex {
  display: flex;
  gap: 10px;
  font-family: Poppins;
}

.col {
  background-color: #090823;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}

.discuss {
  color: #fff;
  margin-bottom: 15px;
  font-family: Poppins;
}

.discus {
  color: #fff;
  margin: 12px 0 10px 0;
  font-family: Orbitron;
}

.sec_4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
  width: 100%;
  margin-top: 30px;
}

.video_flex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.video {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid #f86cf8;
  width: 94%;
  height: 85%;
}

.paus {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -400px;
}

.fashion {
  position: relative;
  top: 150px;
  left: -250px;
  font-size: 30px;
  font-family: Orbitron;
}

@media screen and (max-width: 1000px) {
  .my {
    width: 300px;
  }
  .verse {
    font-size: 30px;
  }
  .verse_2 {
    font-size: 15px;
  }
  .three {
    margin-top: 70px;
  }
  .lorem {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .vec {
    display: none;
  }
  .explore {
    font-size: 25px;
    margin-top: 25px;
  }
  .lorem,
  .lore {
    margin-top: 5px;
  }
  .discus {
    font-size: 20px;
  }
  .discuss {
    font-size: 13px;
  }
  .verse {
    font-size: 30px;
  }
  .verse_2 {
    font-size: 13px;
  }
  .sec_3 {
    flex-wrap: wrap;
    width: 80%;
    margin: 10px 42px 10px 42px;
  }
  .col {
    margin-top: 20px;
  }
  .three {
    flex-wrap: wrap;
    margin: 0;
  }
  .sec_4 {
    display: none;
  }
  .video_flex {
    flex-wrap: wrap;
  }
  .video,
  .vide {
    width: 80%;
    height: 100%;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 20px;
  }
  .vide {
    margin-top: 80px;
  }
  .vid2 {
    display: none;
  }
  .last_flex {
    margin-top: 15px;
  }
  .paus {
    flex-direction: row;
    justify-content: center;
    top: -1px;
    flex-direction: row-reverse;
    margin-top: 15px;
  }
  .pause {
    width: 30%;
    height: 30%;
    margin-left: 50px;
  }
  .fashion {
    margin-left: 50px;
    position: none;
    top: 1px;
    left: 0;
    font-size: 20px;
  }
  .videoo {
    width: 80%;
    height: 72%;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 100px;
  }
  .pauser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -1px;
    flex-direction: row-reverse;
    margin-top: 20px;
  }
  .lorem {
    font-size: 25px;
    margin-top: 70px;
  }
  .lore {
    font-size: 15px;
  }
  .my {
    width: 350px;
  }
  footer {
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 120px;
    gap: 80px;
    padding: 30px 0 30px 0;
  }
  .mar,
  .about,
  .imj {
    margin: 0 8px 0 10px;
  }
  .imj {
    margin-top: 10px;
  }
}
@media screen and (max-width: 400px) {
  .sec_3 {
    flex-wrap: wrap;
    margin-right: -30px;
  }
  .col {
    width: 100%;
  }
  .alt {
    width: 100%;
  }
  .lorem {
    font-size: 20px;
  }
  .lore {
    font-size: 10px;
  }
  .group {
    width: 300px;
  }
  .my {
    width: 300px;
  }
  .verse {
    font-size: 25px;
  }
  .white {
    padding: 1px;
  }
  .mar,
  .about,
  .imj {
    margin: 0 5px 0 5px;
  }
}
@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .videoo {
    display: none;
  }
  .pauser {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */